#logo{
    }

    body{
        background-color: #f5f5eb;
    }


#total-orders{
        background-color: #4cc79e;
    }


#orders-delivered{
        background-color: #0c5869;
    }


#orders-pending{
        background-color: crimson;
    }